<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.nick.cbs.topgun.dao.SetMenuMapper">
    <resultMap id="SetMenuResultMap" type="SetMenu">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="property_id" property="propertyId" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="revision" property="revision" jdbcType="INTEGER"/>
        <result column="service_type" property="serviceType" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sort_no" property="sortNo" jdbcType="INTEGER"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAll" resultMap="SetMenuResultMap">
        select * from set_menu
    </select>

    <insert id="insert" parameterType="SetMenu">
        insert into set_menu(id,tenant_id,property_id,code,name,revision,service_type,description,sort_no,created_by,created_time)
        values(#{id},#{tenantId},#{propertyId},#{code},#{name},#{revision},#{serviceType},#{description},#{sortNo},#{createdBy},#{createdAt});
    </insert>

    <select id="findById" resultMap="SetMenuResultMap">
        select * from set_menu where id = #{id}
    </select>
</mapper>